.terraform/
terraform/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.auto.tfvars
*.backup
*.retry

.backend.env.tmp
terraform/secret.auto.tfvars
ansible/inventory.ini

terraform/secret.auto.tfvars
*.tar.gz
# terraform
*.tfstate
*.tfstate.*
.terraform/
secret.auto.tfvars

# certs
*.pem
*.key

# python
__pycache__/
